Repository keepMine/blog-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix, prettier --write

init: 添加husky
  .lintstagedrc.json
  package.json
  yarn.lock
Due: none

init: 修改main文件
  package.json
  src/main.js
  yarn.lock
Due: prettier --write ., eslint --fix

init: 修改linit文件
  .eslintrc.json
  .lintstagedrc.json
Due: none

111
  package-lock.json
  yarn.lock
Due: none

111
  src/utils/index.js
Due: prettier --write ., eslint --fix

修改配置
  .eslintrc.json
Due: none

init
  .eslintrc.json
  .vscode/.settings.json
  babel.config.js
  package-lock.json
  package.json
  src/app.vue
  yarn.lock
Due: eslint --fix, prettier --write

init
  .eslintrc.json
  package-lock.json
  package.json
  src/app.vue
  yarn.lock
Due: eslint --fix, prettier --write

init
  .eslintrc.js
  src/router/index.js
  src/view/AboutSection.vue
  src/view/HomeSection.vue
Due: prettier --write ., eslint --fix, prettier --write

init
  .eslintrc.js
Due: none

init: 修改babel配置
  babel.config.js
  build/webpack.dev.config.js
  src/router/index.js
Due: prettier --write ., eslint --fix

init: 添加环境变量文件，添加dotenv，添加axios
  .env.development
  .env.production
  .vscode/.settings.json
  build/webpack.base.config.js
  build/webpack.dev.config.js
  build/webpack.prod.config.js
  package-lock.json
  package.json
  src/api/article.js
  src/app.vue
  src/utils/http.js
  src/utils/request.js
  src/view/AboutSection.vue
  yarn.lock
Due: prettier --write ., eslint --fix, prettier --write

init
  src/view/HomeSection.vue
Due: eslint --fix, prettier --write

feat: 搭建topbar
  .eslintrc.js
  build/webpack.base.config.js
  setting.js
  src/api/article.js
  src/app.vue
  src/components/Layout/TopBar.vue
  src/constants/topBar.js
  src/router/index.js
  src/utils/index.js
  src/view/AboutMe.vue
  src/view/AboutSection.vue
  src/view/Article.vue
  src/view/Home.vue
  src/view/HomeSection.vue
  src/view/MyWorks.vue
  src/view/index.vue
Due: prettier --write ., eslint --fix, prettier --write

feat: 搭建全局换肤less变量
  public/index.html
  src/components/Layout/ChangeSkin.vue
  src/main.js
  src/styles/index.less
  src/styles/subjectColors/autumn.less
  src/styles/subjectColors/index.less
  src/styles/subjectColors/mixins/common.less
  src/styles/subjectColors/spring.less
  src/styles/subjectColors/summer.less
  src/styles/subjectColors/winter.less
  src/view/index.vue
Due: prettier --write ., eslint --fix, prettier --write

feat: 搭建全局背景色
  public/index.html
  src/components/Layout/ChangeSkin.vue
  src/styles/index.less
  src/styles/subjectColors/mixins/global.less
  src/styles/subjectColors/spring.less
  src/styles/subjectColors/summer.less
  src/styles/subjectColors/winter.less
  src/view/index.vue
Due: eslint --fix, prettier --write

feat: 设置动态加载网站标题，设置网站icon
  .DS_Store
  build/webpack.base.config.js
  package-lock.json
  package.json
  public/.DS_Store
  public/favicon.ico
  public/index.html
  setting.js
  src/app.vue
  src/router/index.js
  src/view/Article.vue
  yarn.lock
Due: prettier --write ., eslint --fix, prettier --write

feat：完善sidebar的布局
  src/components/Layout/LeftAndRight.vue
  src/components/Layout/SideBar.vue
  src/components/Layout/TopBar.vue
  src/constants/sideBar.js
  src/router/index.js
  src/styles/icons.less
  src/styles/index.less
  src/styles/subjectColors/mixins/common.less
  src/view/index.vue
Due: prettier --write ., eslint --fix, prettier --write

feat: 完成sidebar的相关样式
  build/webpack.base.config.js
  setting.js
  src/.DS_Store
  src/asset/.DS_Store
  src/asset/images/.DS_Store
  src/asset/images/2010619.jpg
  src/asset/images/2020388.jpg
  src/asset/images/2023489.jpg
  src/asset/images/321096.jpg
  src/asset/images/cow.svg
  src/asset/images/deer.svg
  src/asset/images/elephant.svg
  src/asset/images/monky.svg
  src/asset/images/rabbit.svg
  src/asset/images/wolf.svg
  src/components/Layout/ChangeSkin.vue
  src/components/Layout/SideBar.vue
  src/components/Layout/SideContentLarge.vue
  src/constants/sideBar.js
  src/styles/icons.less
  src/styles/subjectColors/mixins/common.less
Due: prettier --write ., eslint --fix, prettier --write

feat: 添加了列表，文章卡片，回到顶部组件
  .prettierrc
  src/asset/.DS_Store
  src/asset/images/.DS_Store
  src/components/Layout/BackTop.vue
  src/components/Layout/CardItem.vue
  src/components/Layout/ChangeSkin.vue
  src/components/Layout/LeftAndRight.vue
  src/components/Layout/List.vue
  src/components/Layout/SideBar.vue
  src/components/Layout/SideContentLarge.vue
  src/main.js
  src/styles/icons.less
  src/styles/subjectColors/mixins/common.less
  src/view/Article.vue
  src/view/index.vue
Due: prettier --write ., eslint --fix, prettier --write

feat: 添加了文章详情组件
  src/api/article.js
  src/components/Common/ArticleContent.vue
  src/components/Layout/CardItem.vue
  src/router/index.js
  src/styles/icons.less
  src/styles/subjectColors/mixins/common.less
  src/view/Article.vue
Due: prettier --write ., eslint --fix, prettier --write

init: 完善基础页面搭建
  .env.development
  build/webpack.dev.config.js
  src/components/Common/ArticleContent.vue
  src/components/Common/Card.vue
  src/components/Layout/Breadcrumb.vue
  src/components/Layout/CardItem.vue
  src/components/Layout/SideContentLarge.vue
  src/constants/sideBar.js
  src/main.js
  src/router/index.js
  src/store/index.js
  src/styles/icons.less
  src/styles/subjectColors/index.less
  src/styles/subjectColors/mixins/common.less
  src/styles/subjectColors/mixins/margins.less
  src/utils/request.js
  src/view/Article.vue
  src/view/index.vue
Due: prettier --write ., eslint --fix, prettier --write

init: 完善基础页面搭建
  build/webpack.base.config.js
  src/api/article.js
  src/components/Common/ArticleContent.vue
  src/components/Layout/Breadcrumb.vue
  src/hooks/useArticleList.js
  src/main.js
  src/styles/icons.less
  src/styles/subjectColors/mixins/common.less
  src/styles/subjectColors/mixins/margins.less
  src/utils/http.js
  src/view/Article.vue
Due: prettier --write ., eslint --fix, prettier --write

init: 完善基础页面的缓存
  src/components/Layout/Breadcrumb.vue
  src/components/Layout/CardItem.vue
  src/components/Layout/ChangeSkin.vue
  src/components/Layout/SideBar.vue
  src/components/Layout/SideContentLarge.vue
  src/hooks/useSetRouters.js
  src/router/index.js
  src/utils/index.js
Due: prettier --write ., eslint --fix, prettier --write

init: 完善路由切换动画效果
  src/components/Common/ArticleContent.vue
  src/components/Layout/Breadcrumb.vue
  src/hooks/useArticleList.js
  src/view/index.vue
Due: prettier --write ., eslint --fix, prettier --write

Path conditions:
  prettier --write .: any of: src/**/*.js
  eslint --fix: (any of: src/**/*.js) or (any of: src/**/*.vue)
  prettier --write: (any of: *.md) or (any of: src/**/*.vue)
